@charset "UTF-8";
/* CSS Document */

canvas{
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

html{
	height:100%;
	width:100%;
	background-color:black;
	background-position:center 0px;
	background-size:100%;

}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12pt;
	margin:0px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	width:100%;
	height:100%;
<<<<<<< HEAD
	overflow: hidden;
=======
>>>>>>> ff9eb39b1dd6ce4de8b1e6088a9903c4c273bb93
}

body:-moz-full-screen{
	cursor: none;
}

body:-webkit-full-screen{
	cursor: none;
}

canvas{
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	/*Flip the image so it mirrors the users movements*/
	
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}

video, #vidD{
	position: fixed;
	left: 100%;
}

#info{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 500px;
	text-align: center;
	margin-left: -250px;
	color: rgba(255,255,255,0.3);
	line-height: 1.4em;
	margin-top: -50px;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
}

#start{
	margin-top: 12px;
	background-color: white;
	border: 0px none;
	border-radius: 30px;
	padding: 10px 45px;
	cursor: pointer;
	font-weight: 800;
}